.header h1 {
	text-align: center;
}

.header{
	width: 100%;
}
.header a {
    float: left;
    width:25%;
    display: block;
    background-color: grey;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 0;
    border: 2px;
}

.body h1 {
	font-family: verdana;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;

}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  height: 22px;
  background-color: grey;
	margin-top: 20px;
	font-size: 10px;
}

.bggb{
	color:green;
	border-radius: 2px;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
   font-size: 20px;
}

table {
  width:100%;
  min-width: 1000px;
  margin-bottom: 25px;
}

#killserver {
  position: fixed;
  right:0;
}
