<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css?version=1">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/addDestination.js?version=7"></script>    
  </head>
 
  <body>
    <div class="container">
      <div class="header">             
            <h1>Lunch Buddy</h1>
            <a class="nav-button" href="/" role="button">Home</a>            
            <a class="nav-button" href="showAddDestination" role="button">Destination Editor</a>
            <a class="nav-button" href="showRecordVisit" role="button">Record a visit</a>
            <a class="nav-button" href="showFindLunch" role="button">Find a place to eat</a>        
        </div> 
             
     
      <div class="lunch-details">
        <h1>Add a new lunch destination</h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
          <label for="inputPrice" class="sr-only">Price</label>
          <input type="number" name="inputPrice" id="inputPrice" class="form-control" placeholder="Input Price" required autofocus>
          <label for="inputDistance" class="sr-only">Distance</label>
          <input type="number" name="inputDistance" id="inputDistance" class="form-control" placeholder="In Minutes" required>
          <label for="inputTakeaway" class="sr-only">Takeaway</label>
            <select>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          <label for="inputEatIn" class="sr-only">EatIn</label>
            <select>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          <label for="inputHealthiness" class="sr-only">Healthiness</label>
          <input type="number" name="inputHealthiness" id="inputHealthiness" class="form-control" placeholder="Unhealthy 1-10 Healthy" required>
          <label for="inputGluten" class="sr-only">Gluten Free Option?</label>
            <select>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>        
          <button id="btnEnter" class="btn btn-lg btn-primary btn-block" type="button">Enter</button>
        </form>
      </div>

      <div class="edit-destination">
        <h1>Make Changes to an existing Destination</h1>
        <button id="btnGetAllDestinations" class="bggb" type="button">List Existing</button>        
        <table id="destinationList">
          <thead>
            <tr>
                <th>Name</th>                
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Test</td>
              </tr>
          </tbody>          
        </table>
      </div>
 
       
 
      <footer class="footer">
            <button id="killserver" class="bggb" type="button">killserver</button>  
            <p>&copy; Faraday Inc 2017</p>
      </footer>
 
    </div>
  </body>
</html>
