<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/addDestination.js"></script>    
  </head>
 
  <body>
    <div class="container">
      <div class="header">             
            <h1>Lunch Buddy</h1>
            <a class="nav-button" href="/" role="button">Home</a>            
            <a class="nav-button" href="showAddDestination" role="button">Add a new desintation</a>
            <a class="nav-button" href="showRecordVisit" role="button">Record a visit</a>
            <a class="nav-button" href="showFindLunch" role="button">Find a place to eat</a>        
        </div> 
        
        
 
         
    
     
      <div class="lunch-details">
        <h1>Add a new lunch destination</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPrice" class="sr-only">Price</label>
        <input type="number" name="inputPrice" id="inputPrice" class="form-control" placeholder="Input Price" required autofocus>
        <label for="inputDistance" class="sr-only">Distance</label>
        <input type="number" name="inputDistance" id="inputDistance" class="form-control" placeholder="In Minutes" required>
        <label for="inputTakeaway" class="sr-only">Takeaway</label>
        <input type="name" name="inputTakeaway" id="inputTakeaway" class="form-control" placeholder="YES or NO" required>
        <label for="inputEatIn" class="sr-only">EatIn</label>
        <input type="name" name="inputEatIn" id="inputEatIn" class="form-control" placeholder="YES or NO" required>
        <label for="inputHealthiness" class="sr-only">Healthiness</label>
        <input type="number" name="inputHealthiness" id="inputHealthiness" class="form-control" placeholder="Unhealthy 1-10 Healthy" required>
        <label for="inputGluten" class="sr-only">Gluten Free Option?</label>
        <input type="name" name="inputGluten" id="inputGluten" class="form-control" placeholder="YES or NO" required>
        
        <button id="btnEnter" class="btn btn-lg btn-primary btn-block" type="button">Enter</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Faraday Inc 2017</p>
      </footer>
 
    </div>
  </body>
</html>
