<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Lunch Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
 
<body>
 
    <div class="container">
        <div class="header">             
            <h1>Lunch Buddy</h1>
            <a class="nav-button" href="/" role="button">Home</a>            
            <a class="nav-button" href="showAddDestination" role="button">Add a new destination</a>
            <a class="nav-button" href="showRecordVisit" role="button">Record a visit</a>
            <a class="nav-button" href="showFindLunch" role="button">Find a place to eat</a>        
        </div> 

        <div class="body">             
            <h1>Lunch Buddy is the ultimate solution to finding where to go for lunch near the office</h1>
            <h1>Choose an option above to get started</h1>
            <img src="../static/images/paulitos.png">   
        </div>
        
        
    </div>

    <footer class="footer">
            <button id="killserver" class="bggb" type="button">killserver</button>  
            <p>&copy; Faraday Inc 2017</p>
        </footer>
 
    
</body>
 
</html>
