<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Lunch Buddy</title>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">         
           <div class="jumbotron">
	        <h1>Lunch Buddy</h1>
	        <p class="lead"></p>
	        <p><a class="btn btn-lg btn-success" href="showAddDestination" role="button">Add a new desintation</a></p>
            <p><a class="btn btn-lg btn-success" href="showRecordVisit" role="button">Record a visit</a></p>
            <p><a class="btn btn-lg btn-success" href="showFindLunch" role="button">Find a place to eat</a></p>
	       </div>
        </div>
        
        
 
        <footer class="footer">
            <p>&copy; Faraday Inc 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
