<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Buddy</title>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/recordvisit.js"></script>    
  </head>
 
  <body>
    <div class="container">
      <div class="header">         
            
      </div>
        
        
 
         
    
     
      <div class="lunch-details">
        <h1>Tell the world about your lunch experience</h1>
        <form class="form-lunch-details">
        <label for="inputRestaurant" class="sr-only">Restaurant</label>
        <input type="restaurant" name="inputRestaurant" id="inputRestaurant" class="form-control" placeholder="Where'd you eat?" required autofocus>
        
         
        <button id="enter" class="btn btn-lg btn-primary btn-block" type="button">Enter</button>


        </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Faraday Inc 2017</p>
      </footer>
 
    </div>
  </body>
</html>
