<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Buddy</title>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/recordVisit.js"></script>    
  </head>
 
  <body>
    <div class="container">
      <div class="header">         
            
      </div>   
        
      <div class="lunch-details">
        <h1>Record a lunch you've had</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Restaurant</label>
        <input type="name" name="inputRestaurant" id="inputRestaurant" class="form-control" placeholder="Restaurant" required autofocus>
        <label for="inputPricePaid" class="sr-only">Price Paid</label>
        <input type="number" name="inputPricePaid" id="inputPricePaid" class="form-control" placeholder="Input Price Paid" required autofocus>
        <label for="inputDish" class="sr-only">Dish</label>
        <input type="name" name="inputDish" id="inputDish" class="form-control" placeholder="What you eat?" required>
        <label for="inputRating" class="sr-only">Rating</label>
        <input type="name" name="inputRating" id="inputRating" class="form-control" placeholder="1-10" required>        
        
        <button id="btnEnterDetails" class="btn btn-lg btn-primary btn-block" type="button">Enter</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Faraday Inc 2017</p>
      </footer>
 
    </div>
  </body>
</html>
